@page "{route?}"
@using Humanizer
@model IndexModel
@{
    ViewData["Title"] = "Welcome";
}



@if (!Model.Authenticated)
{
    <h1><nobr>Welcome to Topal payroll!</nobr></h1>
    <br />
    <p>Please sign in to see available tenants you are a member of</p>
}
else {
    @if (Model.DisplayTenantInfo)
    {
@*        <p>@Model.activeRoute</p>
        <p>@Model.activeRoute.Length</p>
*@
        <p>App Tenant ID: @(Model.tenantData?.Id.ToString() ?? "Unknown")</p>
        <p>Tenant Name: @(Model.tenantData?.Name ?? "Unknown")</p>
    }
    else
    {
        @*TODO (SaaS): Replace the welcome page when no tenant route is being contacted*@

        <div class="container">
        <section class="row mb-5 pb-md-4">
            <div class="col-md-5">
                <h2 class="display-5 fw-normal">Welcome to Topal payroll!</h2>
            </div>
        </section>
            <section class="row mb-5 pb-md-4">
                <div class="col-md-5">
                    <h5>You are a member of the following tenants:</h5>
                    <p>
                        @foreach (var tenant in @Model.availableTenantsData)
                        {
                        <p>
                            <a href="@tenant.Route">@tenant.Name</a>
                        </p>
                        }
                    </p>
                </div>
            </section>
        </div>
    }
}